---
import '../styles/globals.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title?: string;
	description?: string;
}

const { title = "Ao Loot Logs Comparator", description = "meh enjoy i guess? XD." } = Astro.props;

// Dynamically handle the base URL for GitHub Pages
const faviconPath = `${import.meta.env.BASE_URL}favicon.svg`.replace('//', '/');
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href={faviconPath} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <script src="https://accounts.google.com/gsi/client" async defer></script>
        <script src="https://apis.google.com/js/api.js" async defer></script>
	</head>
	<body class="bg-[#050505] text-stone-300 min-h-screen flex flex-col selection:bg-amber-500/30 selection:text-amber-100 font-sans">
		<Header />
		<main class="flex-1 w-full flex flex-col">
			<slot />
		</main>
        <Footer/>
	</body>
</html>